header.head.active
	section.section.head-row
		a(href='#').head-logo
			include ../../img/logo-img.svg
			include ../../img/logo-text.svg
		button.head-burger-btn
			span
		.head-burger-menu.head-burger-link
			.head-contact
				a(href='tel:87712482207').head-phone.head-burger-link +7 (771) 248 22 07
				a(href='#').head-whatsapp.head-burger-link What's App
			nav.head-nav
				a(href='#projects').head-link.head-burger-link Проекты
				a(href='#calc').head-link.head-burger-link Калькулятор
				a(href='#').head-link.head-burger-link О компании
				a(href='#').head-link.head-burger-link Партнёры
				a(href='#').head-link.head-burger-link Контакты